<!DOCTYPE html>
<html lang="pt-br" ng-app="login">
<head>
	
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="angular/angular.js"></script>
	<script src="login.js"></script>

</head>
<body ng-controller="loginCtrl">

	<div class="container">
		<h2 style="text-align: center">Login</h2>
		<form name="dadosLogin">
			Username: <br>
			<input class="form-control" type="text" name="username" ng-model="dados.username" placeholder="username" ng-required="true">
			Senha: <br>
			<input class="form-control" type="password" name="senha" ng-model="dados.senha" placeholder="senha" ng-required="true">
		</form>
		<hr>
		<button class="btn btn-primary" ng-disabled="dadosLogin.$invalid" ng-click="transferDados()">Entrar</button>
		<button class="btn btn-primary"><a href="cadUsuario.html" style="text-decoration: none; color: white;">Cadastrar</a></button>
	</div>

</body>
</html>